*{
	box-sizing: border-box;
}

body{
	width :1000px;
	position: relative;
	margin: 0 auto;
	height: 100%;
	padding: 0;
}

table th, table td{
	padding: 10px;
}

.hide{
	display: none;
}

header{
	height: 100px;
}

header h2{
	font-size: 25px;
}

.layout{
	font-size: 18px;
}

.layout .domain{
	width: 200px;
}

.layout input{
	margin: 0 5px;
	font-size: 13px;

}

.layout #find{
	width: 70px;
	background-color: #ccc;
	border-radius: 5px;
  	font-weight: bold;
}

.layout .result{
	margin-top : 20px;
}

.layout table{
	width: 100%;
	overflow: hidden;
	table-layout: fixed;
	white-space: nowrap;
	border-collapse: collapse;
}

.layout table .record-id{
	width: 20%;
}

.layout table .record-addr{
	width: 80%;
}

	